@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delegations</h1>
    <p class="lead">The application to help companies ease their delegations requests management</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This application lets employees make new delegation requests, which have to be approved/denied by their superior.
        </p>
        <p><a class="btn btn-default" href="~/Request/Create">Make a request &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View request status</h2>
        <p>in work...</p>
        <p><a class="btn btn-default" href="~/Request/IndexMyReq">View my requests &raquo;</a></p>
    </div>
</div>