@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Business trips</h1>
    <p class="lead">The website for delegations requests management</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Log In and make a new delegation request.
        </p>
        <p><a class="btn btn-default" href="~/Request/Create">Make a request &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View request status</h2>
        <p>View your requests history.</p>
        <p><a class="btn btn-default" href="~/Request/IndexMyReq">View requests &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View requests</h2>
        <p>View all requests.</p>
        <p><a class="btn btn-default" href="~/Request/IndexAll">View requests &raquo;</a></p>
    </div>
</div>